

<style >
        :hover.h1{
            color: antiquewhite;
            background-color:blueviolet;
        }
        :hover.div2{
            color:red;
            background-color: blue;
        }
        :hover.s1{
            color: aquamarine;
            text-decoration: solid;
            background-color: blueviolet;
            
        }
        .div5{
            color: red;
        }
         h2 {
            color: rgb(220, 19, 190);
            
            text-align: center;
        }
        ul{
            display:flex;
            gap: lr;
            list-style-type: none;
            align-items: row;
        }
        .ul li
        {
            margin:0;
            color: rgb(214, 23, 189);
            display: table-row;
            align-items: center;
            place-content: center;
        }
        .menu::before{
            position: center;
            width: 100%;
            height: 2px;
            background: brown;
            border-radius: 5px;
            transform: scaleX();
            transition: all .5s ease;
            bottom: 0;
            left: 0;
            align-items: column;
            place-content: center;
        }
        
       <!-- .active{
            display: flex;
            height:25vh;
            width: 25%;
            
        }-->
        :hover.content{
            height: 25vh;
            display: flex;
            width: 30%;
            background-color: aquamarine;
        }
       
    </style>